# MNIST data classification
Oleg Sokolov <br>
sokolegg@yandex.ru

In [1]:
import pandas as pd
import numpy as np

## Train data

In [2]:
train = pd.read_csv('train.csv')
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Данные представляют из себя метку (цифра на изображении) и набор пикселей изображения 28Х28. Напишем функцию для получения массива пикселей, а также двумерного представления (для вывода изображения и других моделей, вроде CNN)

In [3]:
X = train.drop(labels = ["label"], axis = 1).values
y = train['label'].values

X - представляет собой набор пикселей как в одномерном виде, можно протестировать простые алгоритмы на этих данных.

In [4]:
print("Пример данных одного изображения из X", X[0])
print("Метка (y) для этого изображения", y[0])

Пример данных одного изображения из X [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0 188 255  94   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 191 250 253
  93   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0 123 248 253 167  10   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  80 247 253
 208  13   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0  29 207 253 235  77   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  54 209 253
 253  88   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0  93 254 253 238 170  17   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  23 210 254
 253 159   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0  16 209 253 254 240  81   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  27 253
 253 254  13   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0  20 206 254 254 198   7   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 168
 253 253 196   7   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0  20 203 253 248  76   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  22
 188 253 245  93   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0 103 253 253 191   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
  89 240 253 195  25   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0  15 220 253 253  80   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0  94 253 253 253  94   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0  89 251 253 250 131   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0 214 218  95   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0]
Метка (y) для этого изображения 1

Нормализуем X

In [5]:
X = X/255.

In [6]:
X.shape

(42000, 784)

Можно проверить точность на простых алгоритмах KNN, SVC

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=133, test_size=0.1)

## KNN

In [8]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_jobs=5)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=5, n_neighbors=5, p=2,
           weights='uniform')

Точность обученного KNN на тестовой выборке

In [9]:
%%time
from sklearn.metrics import accuracy_score, classification_report
predicted = knn.predict(X_test)
print("Accuracy: ", accuracy_score(y_test, predicted))
print("Classiication report: ", classification_report(y_test, predicted))

Accuracy:  0.9711904761904762
Classiication report:               precision    recall  f1-score   support

          0       0.98      0.99      0.99       452
          1       0.95      0.99      0.97       467
          2       0.98      0.96      0.97       411
          3       0.96      0.97      0.97       417
          4       1.00      0.98      0.99       417
          5       0.96      0.97      0.96       364
          6       0.98      0.99      0.98       417
          7       0.94      0.97      0.96       436
          8       1.00      0.94      0.97       430
          9       0.96      0.95      0.95       389

avg / total       0.97      0.97      0.97      4200

Wall time: 2min 5s

97% точность - хороший результат, можно обучить на полных данных и отправить первую посылку на kaggle

In [10]:
knn = KNeighborsClassifier(n_jobs=5)
knn.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=5, n_neighbors=5, p=2,
           weights='uniform')

In [11]:
test = pd.read_csv('test.csv')
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
%%time
test_data = test.values/255.
predicted_labels = knn.predict(test_data)

In [ ]:
import os
def create_submission(predicted_labels):
    sub_frame = pd.DataFrame({"Label": predicted_labels})
    sub_frame.index = sub_frame.index + 1
    sub_frame.index.names = ['ImageId']
    display(sub_frame.head())
    sub_frame.to_csv('submission' + str(len(os.listdir('.'))) + '.csv')

create_submission(predicted_labels)

На тестовой выборке точность значительно ниже - 71%. Была обнаружена ошибка - тестовые данные не были нормализованы, с нормализацией точность

In [38]:
knn = KNeighborsClassifier(n_jobs=5, n_neighbors=10, weights='distance')
knn.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=5, n_neighbors=10, p=2,
           weights='distance')

In [ ]:
predicted_labels = knn.predict(test_data)